<aside>
  <div>
    <header>Recently used filters</header>
    <b>Delivery Day</b>
    <div>
      <input type="checkbox" name="get" id="get" />
      <label for="get">Get in 2 Days</label>
    </div>
  </div>

  <div>
    <div>
      <input type="checkbox" name="get" id="get" />
      <label for="get">Get in 2 Days</label>
    </div>
  </div>

  <div>
    <header>Category</header>
    <ul>
      <li>Smartphones & Basic Mobiles</li>
      <li>Smartphones</li>
      <li>Basic Mobiles</li>
      <li>Mobile Accessories</li>
    </ul>
  </div>

  <div class="reviews">
    <header>Customer Review</header>
    <ul>
      <li>
        <i class="fi fi-ss-star"></i> <i class="fi fi-ss-star"></i
        ><i class="fi fi-ss-star"></i><i class="fi fi-ss-star"></i
        ><i class="fi fi-rs-star"></i>
      </li>
      <li>
        <i class="fi fi-ss-star"></i> <i class="fi fi-ss-star"></i
        ><i class="fi fi-ss-star"></i><i class="fi fi-rs-star"></i
        ><i class="fi fi-rs-star"></i>
      </li>
      <li>
        <i class="fi fi-ss-star"></i> <i class="fi fi-ss-star"></i
        ><i class="fi fi-rs-star"></i><i class="fi fi-rs-star"></i
        ><i class="fi fi-rs-star"></i>
      </li>
      <li>
        <i class="fi fi-ss-star"></i> <i class="fi fi-rs-star"></i
        ><i class="fi fi-rs-star"></i><i class="fi fi-rs-star"></i
        ><i class="fi fi-rs-star"></i>
      </li>
    </ul>
  </div>

  <div class="brand-list">
    <header>Brands</header>
    <ul>
      <li>
        <input type="checkbox" />
        <label for="redmi">Redmi</label>
      </li>
      <li>
        <input type="checkbox" />
        <label for="redmi">Realme</label>
      </li>
      <li>
        <input type="checkbox" />
        <label for="redmi">OnePlus</label>
      </li>
      <li>
        <input type="checkbox" />
        <label for="redmi">Xiamo</label>
      </li>
      <li>
        <input type="checkbox" />
        <label for="redmi">POCO</label>
      </li>
      <li>
        <input type="checkbox" />
        <label for="redmi">Samsung</label>
      </li>
      <li>
        <input type="checkbox" />
        <label for="redmi">Nokia</label>
      </li>
    </ul>
  </div>
</aside>
