aside {
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.7em;
  width: 300px;
}

header {
  font-weight: bold;
  margin-bottom: 10px;
}

b {
  display: block;
  margin-bottom: 5px;
}

aside > div:first-child {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

aside > div:not(:first-child) {
  margin-bottom: 1.2em;
}

ul {
  list-style-type: none;
  padding: 0;
}

.reviews li {
  display: flex;
  gap: 2px;
}

i {
  display: block;
  color: rgb(255, 149, 0);
  font-size: 20px;
}
