<section>
  <h1>Chat with AI for Product Suggestion</h1>
  <!-- if responseText is empty show image-->
  @if(isLoading) {
  <div class="response-empty">
    <img
      src="https://cdn.dribbble.com/users/1186261/screenshots/3718681/_______.gif"
      alt=""
    />
  </div>
  } @else if (responseText == '') {

  <div class="response-empty">
    <img
      src="https://cdn.pixabay.com/photo/2016/11/30/18/14/chat-1873536_1280.png"
      alt=""
    />
  </div>
  } @else {
  <div class="response" [innerHTML]="responseText"></div>

  }

  <div class="inputs">
    <input
      type="search"
      [(ngModel)]="inputText"
      placeholder="Ask your question here..."
    />
    <button class="primary-btn" (click)="ask()">
      <i class="fi fi-sr-paper-plane-top"></i>
    </button>
  </div>
</section>
