<section class="product-details">
  <div>
    <section>
      <img [src]="activeImage" alt="" height="500" class="main-img" />

      <div class="images-container">
        @for(image of product?.images; track image) {
        <img
          [src]="image"
          alt=""
          height="50"
          (click)="activeImage = image"
          [class]="activeImage === image ? 'active-image' : ''"
        />
        }
      </div>
    </section>
    <section>
      <h1>{{ product?.name }}</h1>
      <h2>$ {{ product?.price }}</h2>
      <p>
        {{ product?.description }}
      </p>
      <div class="rating">
        <i class="fi fi-ss-star"></i>
        <i class="fi fi-ss-star"></i>
        <i class="fi fi-ss-star"></i>
      </div>
      <div class="buttons">
        <button class="primary-btn">Buy Now</button>
        <button class="secondary-btn" (click)="addToCart()">Add to Cart</button>
      </div>
    </section>
  </div>
  <div class="more-detail">
    <section class="attributes">
      <h2>Product Details</h2>
      <table [cellSpacing]="0">
        @for(attribute of attributes; track attribute) {
        <tr>
          <th>
            {{ attribute[0] }}
          </th>
          <td>{{ attribute[1] }}</td>
        </tr>
        }
      </table>
    </section>
    <section class="customer-review">
      <h2>Customer Review</h2>
      @for(review of product?.reviews; track review) {
      <div class="review">
        <div [ngStyle]="reviewImageObj" class="review-img"></div>
        <div>
          <h3>{{ review.user }}</h3>
          <div class="rating">
            <i class="fi fi-ss-star"></i>
            <i class="fi fi-ss-star"></i>
            <i class="fi fi-ss-star"></i>
          </div>
          <p>
            {{ review.comment }}
          </p>
        </div>
      </div>
      }
    </section>
  </div>
</section>
